<div class="user_info">
  <div class="row">
    <div class="col-sm-5 col-xs-12">
      <%= image_tag @user.avatar.url(:medium), class: "img-rounded img-responsive text-center" %>
    </div>
    <div class="col-sm-7 col-xs-12">
      <div class="user_info_card">
        <h2><%= @user.name? ? @user.name : @user.email.partition('@').first %></h2>
        <% if @user == current_user %>
        <p> <strong><i class="glyphicon glyphicon-envelope"></i> E-Mail:</strong> <%= @user.email %></p>
        <% end %>
        <p>
          <strong>Bio</strong> <br>
          Maecenas sed diam eget risus varius blandit sit amet non magna.
          Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
          Etiam porta sem malesuada magna mollis euismod.
        </p>

        <p>
          <div class="row">

            <div class="col-xs-4 text-center">
              <div class="row">
                <div class="col-xs-12">
                  <%= icon('trophy', class: 'circle points')%>
                </div>
                  <span class="h6"><%= pluralize(@my_points, 'Point')%></span>
              </div>
            </div>

            <div class="col-xs-4 text-center">
              <div class="row">
                <div class="col-xs-12">
                  <%= icon('thumbs-up', class: 'circle likes')%>
                </div>
                  <span class="h6"><%= pluralize(@my_likes, 'Like') %></span>
              </div>
            </div>

            <div class="col-xs-4 text-center">
              <div class="row">
                <div class="col-xs-12">
                  <%= icon('thumbs-down', class: 'circle dislikes')%>
                </div>
                  <span class="h6"><%= pluralize(@my_dislikes, 'Dislike') %></span>
              </div>
            </div>



          </div>
        </p>
      </div>
    </div>
  </div>
</div>

<hr>

<% if @posts.present? %>
  <%if @user == current_user %>
    <h2>My Demands (<%= @posts.count %>)</h2>
  <% else %>
    <h2><%= @user.name? ? @user.name : @user.email.partition('@').first %>'s Posts (<%= @posts.count %>)</h2>
  <% end %>
  <%= render @posts %>
<% else %>
  <div class="no_post"> NO Content ! </div>
<% end %>
