
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" id="mainModalLabel">
    New Impression
  </h4>
</div>

<%= form_for(@post, remote: false) do |f| %>
<div class="modal-body newpost-modal"> <!--clearfix -  very important hack-->
  <div class="form-group">
    <%= f.text_area :content, size: "50x2", :placeholder => 'What is your impression?' %>
  </div>
</div>
<div class="modal-footer">
  <div class="pull-left">
    <div class="image-preview" style="display:none">
    <%= icon('times', class:"pull-right deletePhoto")%>
    </div>

    <div class="fileUpload">
      <span> <%= icon('camera', 'Upload Image', style: 'font-size:20px')%> </span>
      <%= f.file_field :post_image, class:'upload', id: "uploadBtn" %>
    </div>
  </div>

  <%= f.hidden_field :longitude, id: 'post_lon' %>
  <%= f.hidden_field :latitude, id: 'post_lat' %>

  <div class="pull-right">
    <%= f.submit "Post", :disable_with => 'Posting....'%>
  </div>
</div>
<% end %>
