<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ikaze</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Fixed navbar -->
  <%= render template: 'layouts/navigation_bar' %>
  <!-- /Fixed navbar -->

  <div id="modal-holder"></div>
  <div class="container wrapper">
    <div class="row">

      <!--Yielded contents!-->
      <div class="col-md-8">
        <% flash.each do |name, msg| %>
        <div class="<%= flash_class(name) %> fade in" role="alert">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <strong><%= msg %></strong>
        </div>
        <% end %>
        <%= yield %>
      </div>
      <!--ENDOF yielded content-->

      <!--Side bar layout STARTS here-->

      <div class="col-md-4">
        <% if !user_signed_in? %>
          <%= button_to  user_omniauth_authorize_path(:google_oauth2), class: "btn-block btn-danger" do
            icon('google', 'Sign in with Google')
          end %>

        <% if controller_name != 'registrations' && controller_name != 'sessions'%>
        <p>
          <%= button_to  user_omniauth_authorize_path(:google_oauth2), class: "btn-block", id: "login-with-email" do
            icon('envelope', 'Sign in with Email')
          end %>
        </p>
        <div class="user-form clearfix" style="display:none" id="user-form">

          <div id="login-form">
            <%= render 'devise/sessions/cust_new' %>
          </div>

          <div id="signup-form" style="display:none">
            <%= render 'devise/registrations/cust_new' %>
          </div>
        </div>
        <% end %>
        <% end %>

        <h2>Recommended Places</h2>
        <% (1..3).each do |a| %>
        <div class="did_you_know">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue.
          <div class="likes">
            3 Likes
          </div>
        </div>
        <hr>
        <% end %>
        <small class="credits">
          Ikaze &copy; <%= Time.now.year %> | <%= link_to "About", "#" %> |
          Designed & Developed by: <%= link_to "Octan", "#" %> - Client IP: <%= request.remote_ip%>
        </small>
      </div>
      <!--Side bar layout ENDS here-->


    </div>
  </div>

</body>
</html>
